$default-colour :  linear-gradient(263.94deg, #FC4D35 3.59%, #E02871 102.5%);
$background: #E5E5E5;
@import "./home.scss";
@import "./work.scss";


* body {
  background: #E5E5E5;
}
.App {

}
.container {
  margin: 0% auto;
  margin-top: 2%;
  display: flex; 
  
}

.circle{
  height: 110%;
  width: 80%;
  border-radius: 50%;
  margin-left: 13%;
  margin-top: -5%;
  position: absolute;
  z-index: -1111;
  filter: blur(336.344px);
  background: linear-gradient(263.94deg, rgba(252, 77, 53, 0.4) 3.59%, rgba(224, 40, 113, 0.4) 102.5%);
}



.asideLeft {
  width: 20%;
  height: 400vh; 
  /* background-color: aqua; */
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.socialMedia {
    display: flex;
    height: 20px;
    width: 20px;
}
.socialMediaImg{
    cursor: pointer;
    margin-left: 8px;
    z-index: 11;
}
