$default-colour :  linear-gradient(263.94deg, #FC4D35 3.59%, #E02871 102.5%);

@import "./home.scss";

.App {

}
.container {
  margin: 0% auto;
  margin-top: 2%;
  display: flex; 
  
}

.circle{
  height: 110%;
  width: 80%;
  border-radius: 50%;
  opacity: 0.3;
  margin-left: 15%;
  margin-top: -5%;
  position: absolute;
  z-index: -1111;
  filter: blur(80px);
  background: $default-colour;
}



.asideLeft {
  width: 20%;
  height: 100vh; 
  /* background-color: aqua; */
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.socialMedia {
    display: flex;
    height: 20px;
    width: 20px;
}
.socialMediaImg{
    cursor: pointer;
    margin-left: 8px;
    z-index: 11;
}
