.home {
    width: 60%;
    height: 100vh;
    
    /* background-color: pink; */
  }
  .photoContainer {
    margin-top: 5%;
    justify-content: center;
    display: flex;
  }
  .photoWhiteBorder {
    border-radius: 50%;
    width: 20%;
    height: 20%;
    border: 0.7rem solid white;
    display: flex;
    justify-content: center;
    background-color: white;
  }
  .myPhoto{
    box-shadow: 1px solid grey;
  }
  .myPhoto{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.logo {
    font-family: 'Aladin', cursive;
  }
  .logo:hover {
    color: #FC4D35  ;
  }
  .aboutMeIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
  }
  .myName {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 63px;
    height: 59.88px;
  }
  .myWork {
    font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  }
  
  .seeMyWork {
    background: $default-colour ;
    color: white;
    border: none;
    margin-top: 2%;
    height: 60px;
    width: 270px;
    font-family: Inter;
    font-weight: 700;
  }
  .seeMyWorkHoverBtn  {
    border: 2px solid #FC4D35 ;
    margin-top: -7%;
    margin-left: -2%;
    height: 60px;
    z-index: -1;
    width: 270px;
    visibility: hidden;
  }
  .seeMyWork:hover ~ .seeMyWorkHoverBtn{ 
        visibility: visible;
  }

  